body{
    font-weight: small;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: -5px;
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-size: 40px;
    font-weight: 200;
    color: rgb(120, 212, 181);

}
h3, h2{
    font-weight: 100;
}
nav{

    display: flex;
    align-items: center;
}
nav ul{
    margin-top: -6px;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
} 
#logo-1{
    margin-top: auto;
    display: flex;
    flex: 1 1 40rem;
    align-items: center;
    
}
.box{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: auto;
}

a{
    color: gray;
    text-decoration: none;
} 

.box_1{
    color:white;
    border:1px solid;
    border-color: aqua;
    width: 280px;
    height: 310px;
    background-color: aqua;
    border-radius: 5%;
    margin: auto;
    padding: 2rem;
}
.box_2{
    border:1px solid;
    border-color: rgb(0, 153, 255);
    width: 280px;
    height: 310px;
    background-color: rgb(0, 153, 255);
    color:white;
    border-radius: 5%;
    margin: 0px;
    padding: 2rem;
}
.box_3{
    color:white;
    border:1px solid;
    border-color: rgb(8, 2, 33);
    width: 280px;
    height: 310px;
    background-color: rgb(8, 2, 33);
    border-radius: 5%;
    margin: auto;
    padding: 2rem;
}
.middle {
    background-color: rgb(217, 252, 240);
    display: flex;
    justify-content: center;
    height: 650px;
    
}
.para{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 2rem;
    justify-content: space-between;
    line-height: 2  rem;
    font-size: 20px;
}
#Marking_2{
    text-align: center;
    font-weight: 50;
}
#Marking_1{
    text-align: center;
    margin-top: 30px;
}
header {
    width: 65%;
    margin: auto;
    padding: auto;
}
.Deux {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 3rem;
        
}
.logo_2 {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.box_a, .box_b, .box_c, .box_d{
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    width: 190px;
    height: 168px;
    margin: auto;
    padding: 3rem;
    text-align: center;
}
.box_a{
    margin-top: 40px;
}
.box_c{
    margin-top: 40px;
}
.boxes{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: auto;
    flex-wrap: wrap;
    
}
.middle_1{
    width: 50%;
    display: flex;
}
.global{
    width: 360px;
}
.box p{
    font-size: 25px;
}
.middle_1 img {
    width: 500px;
    margin-top: 100px;
    margin-left: -250px;
}
.middle_1 h1 p{
    margin-left: -200px;
}
.Deux h3{
    text-shadow: ;
}
.boxes img {
    width: 30px;
    margin-top: -50px;
    margin-right: -250px;
}
.boxes h2 {
    color: rgb(120, 212, 181);
}
.basse_1 {
    display: flex;
    justify-content: space-between;
   margin-left: 450px;
   margin-right: 450px;
}
.Improve{
    text-align: center;
    margin-left: 670px;
    margin-right: 670px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.Improve p{
    line-height: 25px;
}
.basse h1{
    text-align: center;
    color: #747474;
}
.bas{
    text-align: center;
}
 input{
    width: 200px;
    height: 30px;
    background-color:#1e88de;
    color: #fff;
    border:none; 
    border-radius:4px; 
} 
.basse_1 input{
    width: 120px;
    height: 30px;
    background-color:#1e88de;
    color: #fff;
    border:none; 
    border-radius:2
    4px;
    margin-left: 190px;
    margin-bottom: 30px;
}
.basse_1 p{
    margin-bottom: -25px;
}

footer{
    text-align: center;
    font-size: 15px;
}
hr{
    margin-top: 100px;
    
    height: 0px;
}